# =============== #
# Unity generated #
# =============== #
Temp/
Obj/
UnityGenerated/
Library/
UserSettings/
Assets/AssetStoreTools*
*.log
ProjectSettings/EditorUserSettings.asset

# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.user
*.unityproj
*.booproj
.vs
.vsconfig
.vscode

# Ignore sln files by default, remove this directive if more advanced setup is required.
*.sln

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# ================= #
# Exlude docs build #
# ================= #
/docs/build

# ================= #
# Exlude builds     #
# ================= #
/src/*/Build
/scripts/CI/invoke.yaml